ServerHealthTracker/ServerInformationUserInterface/Connected Services/ServerInformationProcessorReference/ServerInformationProcessor.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServerInformationProcessor" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8090/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8090/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8090/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:8090/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ServerInformationShared" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServerInformationProcessor_GetAllHostAvailable_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllHostAvailable" />
  </wsdl:message>
  <wsdl:message name="IServerInformationProcessor_GetAllHostAvailable_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllHostAvailableResponse" />
  </wsdl:message>
  <wsdl:message name="IServerInformationProcessor_GetHostInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHostInformation" />
  </wsdl:message>
  <wsdl:message name="IServerInformationProcessor_GetHostInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHostInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IServerInformationProcessor_AddServer_InputMessage">
    <wsdl:part name="parameters" element="tns:AddServer" />
  </wsdl:message>
  <wsdl:message name="IServerInformationProcessor_AddServer_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddServerResponse" />
  </wsdl:message>
  <wsdl:message name="IServerInformationProcessor_SetServerInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:SetServerInformation" />
  </wsdl:message>
  <wsdl:message name="IServerInformationProcessor_SetServerInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetServerInformationResponse" />
  </wsdl:message>
  <wsdl:portType name="IServerInformationProcessor">
    <wsdl:operation name="GetAllHostAvailable">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerInformationProcessor/GetAllHostAvailable" message="tns:IServerInformationProcessor_GetAllHostAvailable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerInformationProcessor/GetAllHostAvailableResponse" message="tns:IServerInformationProcessor_GetAllHostAvailable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHostInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerInformationProcessor/GetHostInformation" message="tns:IServerInformationProcessor_GetHostInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerInformationProcessor/GetHostInformationResponse" message="tns:IServerInformationProcessor_GetHostInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddServer">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerInformationProcessor/AddServer" message="tns:IServerInformationProcessor_AddServer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerInformationProcessor/AddServerResponse" message="tns:IServerInformationProcessor_AddServer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetServerInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerInformationProcessor/SetServerInformation" message="tns:IServerInformationProcessor_SetServerInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerInformationProcessor/SetServerInformationResponse" message="tns:IServerInformationProcessor_SetServerInformation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServerInformationProcessor" type="tns:IServerInformationProcessor">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllHostAvailable">
      <soap:operation soapAction="http://tempuri.org/IServerInformationProcessor/GetAllHostAvailable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHostInformation">
      <soap:operation soapAction="http://tempuri.org/IServerInformationProcessor/GetHostInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddServer">
      <soap:operation soapAction="http://tempuri.org/IServerInformationProcessor/AddServer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetServerInformation">
      <soap:operation soapAction="http://tempuri.org/IServerInformationProcessor/SetServerInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServerInformationProcessor">
    <wsdl:port name="BasicHttpBinding_IServerInformationProcessor" binding="tns:BasicHttpBinding_IServerInformationProcessor">
      <soap:address location="http://localhost:8090/ServerInformationProcessor" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>