ServerHealthTracker/ServerInformationUserInterface/Connected Services/ServerInformationProviderReference/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServerInformationShared" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServerInformationShared" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfServerInformation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServerInformation" nillable="true" type="tns:ServerInformation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServerInformation" nillable="true" type="tns:ArrayOfServerInformation" />
  <xs:complexType name="ServerInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="MemoryUsage" type="xs:float" />
      <xs:element minOccurs="0" name="ProcessorUsage" type="xs:float" />
      <xs:element minOccurs="0" name="ServerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerInformation" nillable="true" type="tns:ServerInformation" />
</xs:schema>