ServerHealthTracker/ServerInformationInformationScedular/Connected Services/ServerInformationReference/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8090/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServerInformationShared" />
  <xs:element name="AddServer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hostName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddServerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetServerInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServerInformationShared" minOccurs="0" name="serverInformation" nillable="true" type="q1:ServerInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetServerInformationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>