ServerHealthTracker/ServerInformationInformationScedular/Connected Services/ServerInformationReference/ServerInformationSetter.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServerInformationSetter" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8090/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8090/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8090/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServerInformationShared" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServerInformationSetter_AddServer_InputMessage">
    <wsdl:part name="parameters" element="tns:AddServer" />
  </wsdl:message>
  <wsdl:message name="IServerInformationSetter_AddServer_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddServerResponse" />
  </wsdl:message>
  <wsdl:message name="IServerInformationSetter_SetServerInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:SetServerInformation" />
  </wsdl:message>
  <wsdl:message name="IServerInformationSetter_SetServerInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetServerInformationResponse" />
  </wsdl:message>
  <wsdl:portType name="IServerInformationSetter">
    <wsdl:operation name="AddServer">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerInformationSetter/AddServer" message="tns:IServerInformationSetter_AddServer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerInformationSetter/AddServerResponse" message="tns:IServerInformationSetter_AddServer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetServerInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerInformationSetter/SetServerInformation" message="tns:IServerInformationSetter_SetServerInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerInformationSetter/SetServerInformationResponse" message="tns:IServerInformationSetter_SetServerInformation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServerInformationSetter" type="tns:IServerInformationSetter">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddServer">
      <soap:operation soapAction="http://tempuri.org/IServerInformationSetter/AddServer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetServerInformation">
      <soap:operation soapAction="http://tempuri.org/IServerInformationSetter/SetServerInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServerInformationSetter">
    <wsdl:port name="BasicHttpBinding_IServerInformationSetter" binding="tns:BasicHttpBinding_IServerInformationSetter">
      <soap:address location="http://localhost:8090/ServerInformationProcessor" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>